@import url("reset.css");

@keyframes drive {
    from {left: -80px;}
    to {left: 105%;}
}

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  font-size: "brandon-grotesque", sans-serif;
}

.outbox {
  max-width: 100%;
  min-height: 100%;
  //border: 1px solid black;
}

#head {
  background: #e67e22;
  .bridge {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    background-color: #4183D7;
    .deck {
      width: 100%;
      height: 25%;
      position: absolute;
      top: 0;
      background-image: url("../images/road6.svg");
      background-repeat: repeat-x;
      background-size: auto 100%, 100% 100%;
      background-position: bottom;
      background-color: #e67e22;
    }
    .piers {
      width: 100%;
      height: 100px;

      position: absolute;
      top: 25%;

      background-image: url("../images/pier6.svg");
      background-repeat: repeat-x;
      background-size: auto 100%;
      background-position: bottom;
      background-color: #4183D7;
    }
    .car {
      width: 8%;
      height: 13%;
      position: absolute;
      top: 9%;
      left: -20%;
      animation-name: drive;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      z-index: 2;
      background-repeat: no-repeat;
      &.reverse {
        top: -2%;
        animation-direction: reverse;
        z-index: 1;
        transform: scaleX(-1);
        background-size: 80% 80%;
      }
      &.g-1 {
        animation-delay: 0s;
        background-image: url("../images/car-1.svg");
      }
      &.g-2 {
        animation-delay: 1s;
        background-image: url("../images/car-2.svg");
      }
      &.g-3 {
        animation-delay: 4s;
        background-image: url("../images/car-3.svg");
      }
      &.g-4 {
        animation-delay: 7s;
        background-image: url("../images/car-4.svg");
      }
      &.g-5 {
        animation-delay: 9s;
        background-image: url("../images/car-5.svg");
      }
      &.g-6 {
        animation-delay: 12s;
        background-image: url("../images/car-6.svg");
      }
      &.g-7 {
        animation-delay: 14s;
        background-image: url("../images/car-7.svg");
      }
      &.g-8 {
        animation-delay: 17s;
        background-image: url("../images/car-8.svg");
      }
    }
  }
  .intro {
    width: 100%;
    font-size: 8vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
}

#faq {
  background-color: #4183D7;
  //background: linear-gradient(#e67e22,#e74c3c);
}

#sponsors {
  background: linear-gradient(#e74c3c,#34495e);
}

#team {
  background: linear-gradient(#34495e,#2c3e50);
}
