doctype html
html
	head
		title SM Hacks
		link(rel='stylesheet prefetch' href='https://bootswatch.com/readable/bootstrap.min.css')
		link(rel='stylesheet prefetch' href='style.css')
		link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand SM Hacks
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#faq') FAQ
					li
						a(href='#schedule') Schedule
					li
						a(href='#sponsors') Sponsors
		.cover
			.container.text-center
				.row
					.col-sm-12
						h1 Let's make this awesome.
						h3 [TODO: Date+location here]
						p.lead San Mateo High School's first hackathon.
						a.btn.btn-large.btn-primary Sign up!
		.content
			.container
				h2.text-center FAQ
				#faq
					.row
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
					.row
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
					.row
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
					.row
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
					.row
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
						.col-sm-4
							h2 Question
							p Answer
				hr
				#schedule
					h2.text-center Schedule
					.row
						.col-sm-6.text-center
							h2 [TODO: Day 1]
							ul.list-unstyled
								li [TODO: Day 1 schedule]
						.col-sm-6.text-center
							h2 [TODO: Day 2]
							ul.list-unstyled
								li [TODO: Day 2 schedule]
				hr
				#sponsors
					h2.text-center Sponsors
					.row
						.col-sm-12.text-center [TODO: Sponsors]
				br
				br
				br
						
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
		script(src='main.js')