html,body{
	background-color:#fefefe;
}
.navbar{
	background-color:#ff7242;
	border:none;
	color:#ccc;
	z-index:50;
	width:100%;
	border-radius:0;
}
.navbar-brand{
	color:#fefefe !important;
}
.affix-top{
	top:100%;
	position:absolute;
}
.affix{
	top:0;
}
.cover{
	display:table;
	position:absolute;
	height:100%;
	width:100%;
	min-height:100%;
	color:#333;
}
.loading{
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#333;
	z-index:100;
	display:none;
}
.circle{
	border-radius:50%;
	height:0;
	width:0;
	background-color:#ff7242;
	position:fixed;
	top:50%;
	left:50%;
	opacity:0;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
#logo{
	height:50%;
	width:auto;
	position:fixed;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}
.cover .container{
	display:table-cell;
	vertical-align:middle;
}
.btn{
	background:none;
}
.btn-primary,.btn-primary:focus{
	background:none;
	color:#ff7242;
	border-color:#ff7242;
	-webkit-filter:drop-shadow(0 0 5px #ff7242);
					filter:drop-shadow(0 0 5px #ff7242);
}
.btn-primary:hover,.btn-primary:active{
	background-color:#ff7242;
	border-color:#ff7242;
	color:#ffffff !important;
}
.content a{
	color:#ff7242 !important;
}
.content{
	display:table;
	position:absolute;
	width:100%;
	top:100%;
	color:#444444;
}
.footer{
	position:absolute;
	width:100%;
	bottom:0;
}
#partners img{
	padding:10px;
	width:50%;
}