.navbar{
	background:none;
	border:none;
}
.cover{
	display:table;
	position:absolute;
	height:100%;
	width:100%;
	min-height:100%;
	background-attachment:fixed;
	background-position:right bottom;
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-color:#dddddd;
	background-image:url(computer.png);
}
.cover .container{
	display:table-cell;
	vertical-align:middle;
}
.btn{
	background:none;
}
.btn-primary,.btn-primary:focus{
	background:none;
	color:#ff7242;
	border-color:#ff7242;
}
.btn-primary:hover,.btn-primary:active{
	background-color:#ff7242;
	border-color:#ff7242;
	color:#ffffff !important;
}
.content a{
	color:#ff7242 !important;
}
.content{
	display:table;
	position:absolute;
	width:100%;
	top:100%;
}
.footer{
	position:absolute;
	width:100%;
	bottom:0;
}
#partners img{
	width:20%;
}