html,body{
	background-color:#333333;
}
.navbar{
	background:none;
	border:none;
	color:#cccccc;
}
.cover{
	display:table;
	position:absolute;
	height:100%;
	width:100%;
	min-height:100%;
	color:#cccccc;
	text-shadow:0 0 10px #ff7242;
}
#logo{
	width:33%;
	height:auto;
	position:fixed;
	right:0;
	bottom:0;
	-webkit-animation:neon .7s ease-in-out infinite alternate;
	animation:neon 1s ease-in-out infinite alternate;
	opacity:.5;
}
@media(max-width:992px){
	#logo{
		height:30%;
		width:auto;
		top:5%;
		left:50%;
		-webkit-transform:translate(-50%);
		        transform:translate(-50%);
	}
}
@-webkit-keyframes neon {
	from {
		opacity:.5;
		-webkit-filter:none;
						filter:none;
	}
	to {
		opacity:.9;
		-webkit-filter:drop-shadow(0 0 5px #ff7242) brightness(1.5);
						filter:drop-shadow(0 0 5px #ff7242) brightness(1.5);
	}
}
@keyframes neon {
	from {
		opacity:.5;
		-webkit-filter:none;
						filter:none;
	}
	to {
		opacity:.9;
		-webkit-filter:drop-shadow(0 0 5px #ff7242) brightness(1.5);
						filter:drop-shadow(0 0 5px #ff7242) brightness(1.5);
	}
}

.cover .container{
	display:table-cell;
	vertical-align:middle;
}
.btn{
	background:none;
}
.btn-primary,.btn-primary:focus{
	background:none;
	color:#ff7242;
	border-color:#ff7242;
	-webkit-filter:drop-shadow(0 0 5px #ff7242);
	        filter:drop-shadow(0 0 5px #ff7242);
}
.btn-primary:hover,.btn-primary:active{
	background-color:#ff7242;
	border-color:#ff7242;
	color:#ffffff !important;
}
.content a{
	color:#ff7242 !important;
}
.content{
	display:table;
	position:absolute;
	width:100%;
	top:100%;
	background-color:#444444;
	color:#bbbbbb
}
.footer{
	position:absolute;
	width:100%;
	bottom:0;
}
#partners img{
	padding:10px;
	width:50%;
}